$app-padding: 0 2rem;
$app-border-radius-1: 4px;
$app-border-radius-2: 8px;

$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

$layout-padding: 2rem;

$header-height: 60px;
$header-background-color: #f78c85;
$header-text-color: #441a18;
$header-z-index: 1000;

$content-background-color: #d4d4d4;

$horse-width: 4rem;
$horse-height: 4rem;

$header-font-size: 2rem;
$sub-header-font-size: 1.5rem;
$text-font-size: 1rem;
